In [ ]:
import pandas as pd

In [ ]:
f_name = 'f21'

In [ ]:
cma_es = pd.read_csv(f'{f_name}_cma_es_doe.csv')[['precision', 'f_s']].rename(columns={'precision': 'cma_es_precision'})
cma_es_init = pd.read_csv(f'{f_name}_lhs_initial_doe.csv')[['precision', 'f_s']].rename(columns={'precision': 'lhs_init_precision'})
uniform = pd.read_csv(f'uniform_doe_{f_name}.csv')[['precision', 'f_s']].rename(columns={'precision': 'uniform_precision'})
lhs = pd.read_csv(f'lhs_doe_{f_name}.csv')[['precision', 'f_s']].rename(columns={'precision': 'lhs_precision'})
halton = pd.read_csv(f'halton_doe_{f_name}.csv')[['precision', 'f_s']].rename(columns={'precision': 'halton_precision'})
sobol = pd.read_csv(f'sobol_doe_{f_name}.csv')[['precision', 'f_s']].rename(columns={'precision': 'sobol_precision'})
stats = cma_es.merge(uniform.merge(lhs.merge(sobol.merge(halton.merge(cma_es_init)))))
stats.head()

,cma_es_precision,f_s,uniform_precision,lhs_precision,sobol_precision,halton_precision,lhs_init_precision
0,105816.915192,0,106184.569090,105830.973452,106028.261657,105905.281394,105930.448557
1,3050.396925,1,3091.172044,3000.367754,3068.328755,3057.951992,3122.483126
2,254.322144,2,265.847164,261.009930,264.271086,254.498527,261.465860
3,126535.242685,3,126645.295306,126353.834843,126907.110062,126951.195939,126683.012034
4,429.982653,4,421.292449,421.330804,439.500356,424.675673,434.511719

# CMA-ES vs first individual (generated by LHS)

In [ ]:
cma_init = stats.loc[stats['cma_es_precision'] < stats['lhs_init_precision']]
print(f'CMA-ES improved lhs-generated DoE on {cma_init.shape[0]}, ({100 * cma_init.shape[0] / stats.shape[0]}%) function instances')
cma_init[['f_s', 'cma_es_precision', 'lhs_init_precision']]

CMA-ES improved lhs-generated DoE on 26, (52.0%) function instances

    f_s  cma_es_precision  lhs_init_precision
0     0      1.058169e+05        1.059304e+05
1     1      3.050397e+03        3.122483e+03
2     2      2.543221e+02        2.614659e+02
3     3      1.265352e+05        1.266830e+05
4     4      4.299827e+02        4.345117e+02
9     9      2.242137e+03        2.246011e+03
11   11      1.674539e+04        1.694439e+04
13   13      1.408898e+02        1.527700e+02
14   14      2.354005e+05        2.356993e+05
17   17      9.476648e+02        1.016716e+03
18   18      6.508262e+05        6.510268e+05
20   20      1.638429e+04        1.646205e+04
24   24      5.669136e+02        5.702483e+02
25   25      6.793835e+04        6.827293e+04
27   27      9.931194e+03        9.963114e+03
28   28      7.372295e+03        7.422612e+03
31   31      1.108619e+02        1.209376e+02
32   32      4.553593e+03        4.565401e+03
35   35      1.204810e+05        1.205988e+05
36   36      1.861970e+02        2.108519e+02
39   39      1.032182e+06        1.032635e+06
40   40      5.250900e+03        5.336560e+03
44   44      2.635865e+02        2.640335e+02
46   46      3.247430e+04        3.249878e+04
47   47      5.285831e+04        5.292778e+04
49   49      1.792688e+03        1.850652e+03

# CMA-ES generated vs Uniform

In [ ]:
cma_uniform = stats.loc[stats['cma_es_precision'] < stats['uniform_precision']]
print(f'DoE generated by CMA-ES is better than uniformly sampled DoE on {cma_uniform.shape[0]}, ({100 * cma_uniform.shape[0] / stats.shape[0]}%) function instances')
cma_uniform[['f_s', 'cma_es_precision', 'uniform_precision']]

DoE generated by CMA-ES is better than uniformly sampled DoE on 25, (50.0%) function instances

    f_s  cma_es_precision  uniform_precision
0     0      1.058169e+05       1.061846e+05
1     1      3.050397e+03       3.091172e+03
2     2      2.543221e+02       2.658472e+02
3     3      1.265352e+05       1.266453e+05
7     7      1.964796e+04       1.970785e+04
9     9      2.242137e+03       2.253347e+03
11   11      1.674539e+04       1.685578e+04
13   13      1.408898e+02       1.563634e+02
14   14      2.354005e+05       2.354820e+05
15   15      8.722772e+02       8.854510e+02
18   18      6.508262e+05       6.520076e+05
19   19      1.029643e+06       1.029694e+06
21   21      4.054058e+04       4.074135e+04
22   22      8.190069e+04       8.198984e+04
24   24      5.669136e+02       5.870739e+02
25   25      6.793835e+04       6.794342e+04
26   26      1.723428e+02       1.860602e+02
27   27      9.931194e+03       9.969868e+03
28   28      7.372295e+03       7.478838e+03
31   31      1.108619e+02       1.286990e+02
40   40      5.250900e+03       5.316619e+03
41   41      9.710906e+05       9.712518e+05
46   46      3.247430e+04       3.252126e+04
47   47      5.285831e+04       5.287477e+04
49   49      1.792688e+03       1.857640e+03

# CMA-ES vs LHS

In [ ]:
cma_lhs = stats.loc[stats['cma_es_precision'] < stats['lhs_precision']]
print(f'DoE generated by CMA-ES is better than lhs sampled DoE on {cma_lhs.shape[0]} ({100 * cma_lhs.shape[0] / stats.shape[0]}%) function instances')
cma_lhs[['f_s', 'cma_es_precision', 'lhs_precision']]

DoE generated by CMA-ES is better than lhs sampled DoE on 26 (52.0%) function instances

    f_s  cma_es_precision  lhs_precision
0     0      1.058169e+05   1.058310e+05
2     2      2.543221e+02   2.610099e+02
7     7      1.964796e+04   1.977207e+04
9     9      2.242137e+03   2.303102e+03
11   11      1.674539e+04   1.703995e+04
12   12      3.228887e+04   3.232420e+04
13   13      1.408898e+02   1.695789e+02
14   14      2.354005e+05   2.358830e+05
15   15      8.722772e+02   8.787918e+02
17   17      9.476648e+02   9.734294e+02
18   18      6.508262e+05   6.510742e+05
19   19      1.029643e+06   1.029728e+06
21   21      4.054058e+04   4.055160e+04
22   22      8.190069e+04   8.204753e+04
26   26      1.723428e+02   1.781816e+02
28   28      7.372295e+03   7.456918e+03
30   30      4.664909e+03   4.694889e+03
31   31      1.108619e+02   1.155123e+02
35   35      1.204810e+05   1.205341e+05
36   36      1.861970e+02   2.003839e+02
40   40      5.250900e+03   5.279075e+03
43   43      1.684253e+04   1.685825e+04
44   44      2.635865e+02   2.685661e+02
45   45      1.165215e+04   1.190190e+04
46   46      3.247430e+04   3.267414e+04
49   49      1.792688e+03   1.890270e+03

# CMA-ES vs Sobol

In [ ]:
cma_sobol = stats.loc[stats['cma_es_precision'] < stats['sobol_precision']]
print(f'DoE generated by CMA-ES is better than sobol generated DoE on {cma_sobol.shape[0]} ({100 * cma_sobol.shape[0] / stats.shape[0]}%) function instances')
cma_sobol[['f_s', 'cma_es_precision', 'sobol_precision']]

DoE generated by CMA-ES is better than sobol generated DoE on 27 (54.0%) function instances

    f_s  cma_es_precision  sobol_precision
0     0      1.058169e+05     1.060283e+05
1     1      3.050397e+03     3.068329e+03
2     2      2.543221e+02     2.642711e+02
3     3      1.265352e+05     1.269071e+05
4     4      4.299827e+02     4.395004e+02
7     7      1.964796e+04     1.987828e+04
11   11      1.674539e+04     1.687416e+04
12   12      3.228887e+04     3.251310e+04
17   17      9.476648e+02     1.020761e+03
18   18      6.508262e+05     6.512063e+05
19   19      1.029643e+06     1.029810e+06
21   21      4.054058e+04     4.074658e+04
22   22      8.190069e+04     8.197960e+04
24   24      5.669136e+02     5.752041e+02
25   25      6.793835e+04     6.795685e+04
26   26      1.723428e+02     1.808619e+02
27   27      9.931194e+03     9.987298e+03
28   28      7.372295e+03     7.465979e+03
29   29      9.719283e+05     9.723675e+05
32   32      4.553593e+03     4.627748e+03
34   34      6.376927e+03     6.418948e+03
35   35      1.204810e+05     1.205074e+05
39   39      1.032182e+06     1.032706e+06
43   43      1.684253e+04     1.713156e+04
45   45      1.165215e+04     1.176305e+04
47   47      5.285831e+04     5.288679e+04
49   49      1.792688e+03     1.846073e+03

# CMA-ES vs Halton

In [ ]:
cma_halton = stats.loc[stats['cma_es_precision'] < stats['halton_precision']]
print(f'DoE generated by CMA-ES is better than halton generated DoE on {cma_halton.shape[0]} ({100 * cma_halton.shape[0] / stats.shape[0]}%) function instances')
cma_halton[['f_s', 'cma_es_precision', 'halton_precision']]

DoE generated by CMA-ES is better than halton generated DoE on 25 (50.0%) function instances

    f_s  cma_es_precision  halton_precision
0     0      1.058169e+05      1.059053e+05
1     1      3.050397e+03      3.057952e+03
2     2      2.543221e+02      2.544985e+02
3     3      1.265352e+05      1.269512e+05
7     7      1.964796e+04      1.971349e+04
9     9      2.242137e+03      2.268835e+03
11   11      1.674539e+04      1.689355e+04
13   13      1.408898e+02      1.615361e+02
15   15      8.722772e+02      8.806124e+02
18   18      6.508262e+05      6.513569e+05
21   21      4.054058e+04      4.062728e+04
22   22      8.190069e+04      8.209882e+04
23   23      2.264511e+03      2.267717e+03
24   24      5.669136e+02      5.734167e+02
25   25      6.793835e+04      6.803910e+04
27   27      9.931194e+03      9.934396e+03
30   30      4.664909e+03      4.700693e+03
31   31      1.108619e+02      1.179671e+02
37   37      2.331161e+04      2.338701e+04
38   38      3.945679e+03      3.947977e+03
39   39      1.032182e+06      1.032532e+06
44   44      2.635865e+02      2.659261e+02
45   45      1.165215e+04      1.177057e+04
46   46      3.247430e+04      3.256343e+04
49   49      1.792688e+03      1.852787e+03

In [ ]:
cma_is_best = stats.loc[(stats['cma_es_precision'] < stats['halton_precision']) & (stats['cma_es_precision'] < stats['uniform_precision']) & (stats['cma_es_precision'] < stats['lhs_precision']) & (stats['cma_es_precision'] < stats['sobol_precision'])]
print(f'DoE generated by CMA-ES is better than any baseline generated DoE on {cma_is_best.shape[0]} ({100 * cma_is_best.shape[0] / stats.shape[0]}%) function instances')
cma_is_best

DoE generated by CMA-ES is better than any baseline generated DoE on 8 (16.0%) function instances

,cma_es_precision,f_s,uniform_precision,lhs_precision,sobol_precision,halton_precision,lhs_init_precision
0,105816.915192,0,106184.569090,105830.973452,106028.261657,105905.281394,105930.448557
2,254.322144,2,265.847164,261.009930,264.271086,254.498527,261.465860
7,19647.962432,7,19707.850056,19772.074956,19878.275937,19713.487780,19551.067184
11,16745.391115,11,16855.775848,17039.946544,16874.163261,16893.553968,16944.393527
18,650826.209949,18,652007.602801,651074.238216,651206.324758,651356.890823,651026.826654
21,40540.582472,21,40741.351712,40551.600389,40746.580284,40627.275818,40354.997824
22,81900.686588,22,81989.840099,82047.525345,81979.600102,82098.819688,81793.533537
49,1792.687874,49,1857.639900,1890.269629,1846.072926,1852.786617,1850.651750